body{
    background-image: url(https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1401&q=80);
    background-size: cover;
    background-position: center;
    font-family: Lato;
}
#content{
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px grey;
}
html{
    height:100%;
}
h1{
    color:white;
    font-weight: 700;
    font-size:5em;
}
h3{
    color:white;
}
hr{
    width:400px;
}